@font-face {
    font-family: '#{$FontName}-Hairline';
    @include fontdef($FontPath, $FontName, $FontVersion, "Hairline");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}