@font-face {
    font-family: '#{$FontName}-HeavyItalic';
    @include fontdef($FontPath, $FontName, $FontVersion, "HeavyItalic");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}