@font-face {
    font-family: '#{$FontName}-Heavy';
    @include fontdef($FontPath, $FontName, $FontVersion, "Heavy");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}