@font-face {
    font-family: '#{$FontName}-LightItalic';
    @include fontdef($FontPath, $FontName, $FontVersion, "LightItalic");
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
