/* BEGIN Regular */
@font-face {
    font-family: 'Lato';
    @include fontdef($FontPath, $FontName, $FontVersion, "Regular");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* END Regular */
