@font-face {
    font-family: '#{$FontName}-Semibold';
    @include fontdef($FontPath, $FontName, $FontVersion, "Semibold");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}